.projectwrapper {
    padding: 0;
}

.projectwrapper .navbar {
    padding: 32px 64px 32px 64px;
}

.projectwrapper__header--white,
.projectwrapper__header {
    background-size: contain !important;
    height: calc( 150px + (710 - 150) * ((100vw - 400px) / (1920 - 400)));
}

.projectwrapper__header--white {
    color: white;
}

.projectwrapper__buttoncontainer {
    display: grid;
    margin: 64px;
    grid-template-columns: 30% auto 30%;
    text-align: center;
}