.projectwrapper {
    padding: 0;
}

.projectwrapper .navbar {
    padding: 32px 64px 32px 64px;
}

.projectwrapper__header--white,
.projectwrapper__header {
    background-size: contain !important;
    height: calc( 150px + (710 - 150) * ((100vw - 400px) / (1920 - 400)));
}

.projectwrapper__header--white {
    color: white;
}

.projectwrapper__contents {
    padding-bottom: 64px;
}

.projectwrapper__buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    margin-bottom: 64px;
}