.about {
    overflow: auto;
    padding: 80px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__container {
    position: relative;
    background-color: #FFF3EB;
    padding: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.about__container p {
    font-size: 18px;
    color: #403F3F;
    word-wrap: break-word
}

.about__container h2 {
    margin-top: 64px;
}

.about__container li {
    font-family: helvetica;
    font-size: 20px;
    color: #403F3F;
}

.about__content {
    display: flex;
}

.about__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__profilephoto {
    position: absolute;
    top: -15%;
    right: 0;
}

form {
    display: flex;
    flex-direction: column;
}

 input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#submit {
    background-color: #0080ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
 input[type=submit]:hover {
    background-color: #014b94;
}

/* @media screen and (max-width: 900px) {
    input[type=text],input[type=email], select, textarea {
        width: 100%;
    }
} */

@media screen and (max-width: 600px) {
    .about {
        padding: 120px 0 32px 0;
    }
    .about__container {
        padding: 24px;
    }
    .about__profilephoto {
        top: -10%;
        right: 0;
    }
}

@media screen and (max-width: 380px) {
    .about__profilephoto {
        top: -8%;
        right: 0;
    }
}