.about {
    overflow: auto;
    padding: 32px 64px 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about--container {
    background-color: #FFF3EB;
    padding: 64px;
}

.about--container p {
    font-size: 20px;
    color: #403F3F;
    word-wrap: break-word
}

.about--container h2 {
    margin-top: 64px;
}

.about--container li {
    font-family: garamond, helvetica;
    font-size: 20px;
    color: #403F3F;
}

.about--content {
    display: flex;
}

.about--links {
    padding: 32px 0 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}