.about {
    overflow: auto;
    padding: 80px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__container {
    position: relative;
    background-color: #FFF3EB;
    padding: 32px;
}

.about__container p {
    font-size: 20px;
    color: #403F3F;
    word-wrap: break-word
}

.about__container h2 {
    margin-top: 64px;
}

.about__container li {
    font-family: garamond, helvetica;
    font-size: 20px;
    color: #403F3F;
}

.about__content {
    display: flex;
}

.about__links {
    padding: 32px 0 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__profilephoto {
    position: absolute;
    top: -15%;
    right: 0;
}

@media screen and (max-width: 600px) {
    .about {
        padding: 120px 0 32px 0;
    }
    .about__container {
        padding: 24px;
    }
    .about__profilephoto {
        top: -10%;
        right: 0;
    }
}

@media screen and (max-width: 380px) {
    .about__profilephoto {
        top: -8%;
        right: 0;
    }
}