.home h1 {
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid white;
}

.home .recent__projects {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.home__banner {
    background-color: gray;
    height: 200px;
}

.home__button a {
    margin-left: 0;
}

.home__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__container--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home--buttons div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home__private,
.home__old,
.home__dribbble {
    position: relative;
    font-size: 13px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 140px;
    padding: 16px;
}

span {
    display: inline-block;
}
.home__private {
    background-color: #eaf5ff;
    border: 1px solid #0080ff;
    border-radius: 4px;
}
.home__private .color:first-child {
    font-weight: 600;
    color: #0080ff;
    font-size: 16px;
    margin-bottom: 16px;
}

.home__old {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 4px;
}
.home__old .color:first-child {
    font-weight: 600;
    color: black;
    font-size: 16px;
    margin-bottom: 16px;
}

.home__dribbble {
    background-color: #fff1f7;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #ea4c89;
    border-radius: 4px;
}
.home__dribbble #link:hover {
    font-weight: 500;
}

@media screen and (min-width: 600px) and (max-width: 665px) {
    .home__dribbble {
        margin-left: 4px;
        margin-right: 4px;
    }
}
@media screen and (min-width: 577px) and (max-width: 585px) {
    .home__dribbble {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }
}
@media screen and (min-width: 410px) and (max-width: 585px) {
    .home__dribbble {
        margin-left: 8px;
        margin-right: 0;
    }
}

@media screen and (max-width: 410px ) {
    .home__container--content {
        flex-direction: column;
    }
    .home__dribbble {
        margin-left: 0;
        margin-right: 0;
    }
}

.home__dribbble .color:first-child {
    font-weight: 600;
    color: #ea4c89;
    font-size: 16px;
    margin-bottom: 16px;
}

.tic {
    font-size: 6px;
}