.error {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60%;
    flex-direction: column;
}

.error--container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.error--container * {
    font-family: Helvetica, sans-serif;
}

.error--container h2 {
    font-size: 4em;
    margin-right: 32px;
}

.error--container p {
    margin: 5px;
}

.error--buttons {
    margin-top: 32px;
}


@media screen and (max-width: 600px) {
    .error--container {
        flex-direction: column;
    }
    .error--container div {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .error--container h2 {
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    .error {
        height: 80%;
    }
    .error--container h2 {
        font-size: 3em;
    }
    .error--container p {
        font-size: 12px;
    }
}