.navbar {
    padding: 32px 64px 32px 64px;
    height: 9%;
}

.navbar__contents {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.navbar__contents h2 {
    flex: 1;
}

.navbar__contents__link {
    /* flex: 2; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navbar__menubutton, .navbar__socialbutton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar__menubutton {
    display: none;
}

.link {
    color: black;
}

.link:not(:last-child) {
    padding: 0 32px 0 0;
}

.link:hover {
    color: #0080ff;
}

@media screen and (max-width: 600px) {
    .navbar__contents__link {
        display: none;
    }
    .navbar__menubutton {
        display: block;
    }
}

.navbar__menubutton:focus, .navbar__socialbutton:focus {
    outline: none;
}

.navbar__menubutton:hover {
    background-color: #0080ff;
}
.navbar__buttonicon {
    width: 32%;
}

.navbar__menubutton {
    width: 16%;
    background-color: black
}