.navbar {
    padding: 0 0 32px 0;
    height: 9%;
}

.navbar--contents {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.navbar--contents h2 {
    flex: 1;
}

.navbar--contents {
    /* flex: 2; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navbar--links-themeblack {
    color: black;
}

.navbar--links-themeblack:not(:last-child) {
    padding: 0 32px 0 0;
}

.navbar--links-themeblack:hover {
    color: #0080ff;
}

.navbar--button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: none;
    width: 8%;
    background-color: black
}

.navbar--button:focus {
    outline: none;
}

.navbar--button:hover {
    background-color: #0080ff;
}

@media screen and (max-width: 600px) {
    .navbar--links {
        display: none;
    }
    .navbar--button {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .navbar--button {
        width: 10%;
    }
}