.navbar {
    background-color: black;
    color: white;
    height: 8%;
    padding: 20px;
    border-bottom: #0080ff 8px solid;
}

.navbar__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__contents h2 {
    flex: 1;
}

.navbar__contents__link {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.navbar__menubutton, .navbar__socialbutton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar__menubutton {
    display: none;
}

/* .navbar__socialbutton {
    float: right;
} */

.link {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    line-height: 2.5;
}

.link:hover {
    color: #0080ff;
}

@media screen and (max-width: 500px) {
    .navbar__contents__link {
        display: none;
    }
    .navbar__menubutton {
        display: block;
    }
}

.navbar__menubutton:focus {
    outline: none;
}

.navbar__buttonicon:hover {
    background-color: #0080ff;
}
.navbar__buttonicon {
    width: 45%;
}