.project {
    width: 100%;
    min-width: 200px;
    /* border: 1px solid black;
    border-radius: 5px; */
    margin-top: 24px;
    width: 30%;
    display: inline-block;
}

.project:hover {
    background-color: #f5f5f5;
}

.project__button {
    /* margin: 32px; */
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.project__button div {
    flex: 1 2 0;
    text-align: center;
}

.project__button p, h2, h3 {
    font-family: Helvetica;
    color: black;
}

.project__buttondescription {
    flex: 2 1 100%;
}

#project__img {
    background-color: grey;
    width: 200px;
    height: 200px;
}

.project__buttonlocation {
    font-size: 12px;
}